@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.body{
  background-image: url("https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwih9d2L7piCAxVBQPUHHWoAAegQ1bUFegQIFBAA&url=https%3A%2F%2Fwww.freepik.com%2Fphotos%2Fblog-background&usg=AOvVaw0jQzeEPCY9iYEDAaSSnXQA&opi=89978449");
}

